<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/setting"></ion-back-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-skeleton-list
    *ngIf="isLoading"
    [paragraph]="0"
    [iconSize]="27"
  ></app-skeleton-list>
  <app-no-record *ngIf="!isLoading && categories.length <= 0"></app-no-record>
  <ion-list *ngIf="!isLoading && categories.length > 0">
    <ion-item-sliding #slidingItem *ngFor="let category of categories">
      <ion-item>
        <ion-icon
          [name]="category.icon"
          slot="start"
          color="primary"
        ></ion-icon>
        <ion-label> {{category.name}} </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option
          color="primary"
          (click)="onEdit(category.id, slidingItem)"
        >
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option
          color="danger"
          (click)="onDelete(category.id, slidingItem)"
        >
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="onAddCategory()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
