.outer {
  width: 55px;
  height: 55px;
  color: var(--secondary-text);
  --padding-start: 0;
  --padding-end: 0;

  &.selected-icon {
    color: var(--button-text-selected);
    --background: var(--button-bg-selected);
    --box-shadow: var(--button-inner);
  }
}
