.outer {
  width: 55px;
  height: 55px;
  --padding-start: 0;
  --padding-end: 0;

  &.selected-icon {
    --background: var(--ion-color-step-350);
    --box-shadow: var(--primary-inner-effect);
  }
}
