// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #7ba2f9;
  --ion-color-primary-rgb: 97, 145, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5580e0;
  --ion-color-primary-tint: #719cff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-purple: #8e84ff;
  --ion-color-purple-rgb: 142, 132, 255;
  --ion-color-purple-contrast: #000000;
  --ion-color-purple-contrast-rgb: 0, 0, 0;
  --ion-color-purple-shade: #7d74e0;
  --ion-color-purple-tint: #9990ff;

  --ion-color-pink: #d884ff;
  --ion-color-pink-rgb: 216, 132, 255;
  --ion-color-pink-contrast: #000000;
  --ion-color-pink-contrast-rgb: 0, 0, 0;
  --ion-color-pink-shade: #be74e0;
  --ion-color-pink-tint: #dc90ff;

  --ion-color-orange: #ffa96b;
  --ion-color-orange-rgb: 255, 169, 107;
  --ion-color-orange-contrast: #000000;
  --ion-color-orange-contrast-rgb: 0, 0, 0;
  --ion-color-orange-shade: #e0955e;
  --ion-color-orange-tint: #ffb27a;
}

// light theme
body {
  --ion-background-color: var(--primary-bg);
  --ion-background-color-rgb: 236, 243, 255;

  --ion-text-color: #728299;
  --ion-text-color-rgb: 114, 130, 153;

  --ion-color-step-50: #e6edfa;
  --ion-color-step-100: #e0e8f5;
  --ion-color-step-150: #dae2f0;
  --ion-color-step-200: #d4dceb;
  --ion-color-step-250: #ced7e6;
  --ion-color-step-300: #c7d1e0;
  --ion-color-step-350: #c1cbdb;
  --ion-color-step-400: #bbc6d6;
  --ion-color-step-450: #b5c0d1;
  --ion-color-step-500: #afbbcc;
  --ion-color-step-550: #a9b5c7;
  --ion-color-step-600: #a3afc2;
  --ion-color-step-650: #9daabd;
  --ion-color-step-700: #97a4b8;
  --ion-color-step-750: #919eb3;
  --ion-color-step-800: #8a99ad;
  --ion-color-step-850: #8493a8;
  --ion-color-step-900: #7e8da3;
  --ion-color-step-950: #78889e;

  --ion-backdrop-color: var(--ion-color-step-950);
}

// @media (prefers-color-scheme: dark) {
/*
   * Dark Colors
   * -------------------------------------------
   */

body.dark {
  --ion-color-primary: #74e5bd;
  --ion-color-primary-rgb: 116, 229, 189;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #66caa6;
  --ion-color-primary-tint: #82e8c4;

  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80, 200, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff6276;
  --ion-color-danger-rgb: 255, 98, 118;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #e05668;
  --ion-color-danger-tint: #ff7284;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  --ion-color-purple: #8e84ff;
  --ion-color-purple-rgb: 142, 132, 255;
  --ion-color-purple-contrast: #000000;
  --ion-color-purple-contrast-rgb: 0, 0, 0;
  --ion-color-purple-shade: #7d74e0;
  --ion-color-purple-tint: #9990ff;

  --ion-color-pink: #d884ff;
  --ion-color-pink-rgb: 216, 132, 255;
  --ion-color-pink-contrast: #000000;
  --ion-color-pink-contrast-rgb: 0, 0, 0;
  --ion-color-pink-shade: #be74e0;
  --ion-color-pink-tint: #dc90ff;

  --ion-color-orange: #ffa96b;
  --ion-color-orange-rgb: 255, 169, 107;
  --ion-color-orange-contrast: #000000;
  --ion-color-orange-contrast-rgb: 0, 0, 0;
  --ion-color-orange-shade: #e0955e;
  --ion-color-orange-tint: #ffb27a;
}

.ion-color-purple {
  --ion-color-base: var(--ion-color-purple);
  --ion-color-base-rgb: var(--ion-color-purple-rgb);
  --ion-color-contrast: var(--ion-color-purple-contrast);
  --ion-color-contrast-rgb: var(--ion-color-purple-contrast-rgb);
  --ion-color-shade: var(--ion-color-purple-shade);
  --ion-color-tint: var(--ion-color-purple-tint);
}

.ion-color-pink {
  --ion-color-base: var(--ion-color-pink);
  --ion-color-base-rgb: var(--ion-color-pink-rgb);
  --ion-color-contrast: var(--ion-color-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-pink-shade);
  --ion-color-tint: var(--ion-color-pink-tint);
}

.ion-color-orange {
  --ion-color-base: var(--ion-color-orange);
  --ion-color-base-rgb: var(--ion-color-orange-rgb);
  --ion-color-contrast: var(--ion-color-orange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
  --ion-color-shade: var(--ion-color-orange-shade);
  --ion-color-tint: var(--ion-color-orange-tint);
}

/*
   * Material Design Dark Theme
   * -------------------------------------------
   */
body.dark {
  --ion-background-color: var(--primary-bg);
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #505050;
  --ion-color-step-100: #595959;
  --ion-color-step-150: #636363;
  --ion-color-step-200: #6c6c6c;
  --ion-color-step-250: #757575;
  --ion-color-step-300: #7e7e7e;
  --ion-color-step-350: #878787;
  --ion-color-step-400: #919191;
  --ion-color-step-450: #9a9a9a;
  --ion-color-step-500: #a3a3a3;
  --ion-color-step-550: #acacac;
  --ion-color-step-600: #b5b5b5;
  --ion-color-step-650: #bfbfbf;
  --ion-color-step-700: #c8c8c8;
  --ion-color-step-750: #d1d1d1;
  --ion-color-step-800: #dadada;
  --ion-color-step-850: #e3e3e3;
  --ion-color-step-900: #ededed;
  --ion-color-step-950: #f6f6f6;

  --ion-backdrop-color: #000;
}

/*
 * Custom Variables
 */
body {
  // shared variables
  --border-radius-1: 10px;
  --border-radius-2: 50px;
  --button-letter-spacing: 0.2em;

  --primary-gradient-a: #aec7ff;
  --primary-gradient-b: #487cf3;
  --primary-gradient: linear-gradient(
    143.21deg,
    var(--primary-gradient-a) 10.91%,
    var(--primary-gradient-b) 84.19%
  );
  --primary-bg: #ecf3ff;
  --primary-outer-effect: -4px -4px 8px rgba(255, 255, 255, 0.9),
    4px 4px 10px rgba(201, 207, 217, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(201, 207, 217, 0.5);
  --primary-inner-effect: 1px 1px 2px rgba(255, 255, 255, 0.3),
    -1px -1px 2px rgba(201, 207, 217, 0.5),
    inset -4px -4px 8px rgba(255, 255, 255, 0.9),
    inset 4px 4px 10px rgba(201, 207, 217, 0.9);
  // --body-bg: linear-gradient(
  //   164.55deg,
  //   #e4eeff -3.45%,
  //   #f1f7ff 50.85%,
  //   #e4eeff 102.93%
  // );
  --body-bg: var(--primary-bg);
  --secondary-text: var(--ion-color-step-600);
  --shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), -2px -2px 8px #ffffff;
  --button-text-selected: #ffffff;
  --button-bg-selected: #7ba2f9;
  --button-text: var(--ion-text-color);
  --button-bg: var(--primary-bg);
  --button-inner: 1px 1px 2px rgba(160, 211, 255, 0.3),
    -1px -1px 2px rgba(86, 113, 174, 0.5),
    inset -2px 2px 4px rgba(86, 113, 174, 0.2),
    inset 2px -2px 4px rgba(86, 113, 174, 0.2),
    inset -2px -2px 4px rgba(160, 211, 255, 0.9),
    inset 2px 2px 5px rgba(86, 113, 174, 0.9);
}

body.dark {
  --primary-gradient-a: var(--ion-color-primary);
  --primary-gradient-b: #31896a;
  --primary-gradient: linear-gradient(
    143.21deg,
    var(--primary-gradient-a) 10.91%,
    var(--primary-gradient-b) 84.19%
  );
  --primary-bg: #474747;
  --primary-outer-effect: -2px 2px 4px rgba(39, 39, 39, 0.2),
    2px -2px 4px rgba(39, 39, 39, 0.2), -2px -2px 4px rgba(103, 103, 103, 0.9),
    2px 2px 5px rgba(39, 39, 39, 0.9);
  --primary-inner-effect: inset -2px 2px 4px rgba(39, 39, 39, 0.2),
    inset 2px -2px 4px rgba(39, 39, 39, 0.2),
    inset -2px -2px 4px rgba(103, 103, 103, 0.9),
    inset 2px 2px 5px rgba(39, 39, 39, 0.9);
  --body-bg: var(--primary-bg);
  --secondary-text: var(--ion-color-step-600);
  --shadow: 2px 2px 8px rgba(0, 0, 0, 0.35);
  --button-text: var(--ion-text-color);
  --button-bg: var(--primary-bg);
  --button-text-selected: var(--ion-color-primary);
  --button-bg-selected: var(--primary-bg);
  --button-inner: var(--primary-inner-effect);
}
