<ion-header>
  <ion-toolbar>
    <ion-title> {{title}} </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-skeleton-list *ngIf="isLoading"></app-skeleton-list>
  <app-no-record *ngIf="!isLoading && stuffs.length <= 0"></app-no-record>
  <ion-virtual-scroll
    [items]="stuffs"
    [approxItemHeight]="'60px'"
    *ngIf="!isLoading && stuffs.length > 0"
  >
    <ion-item
      *virtualItem="let stuff"
      button
      [routerLink]="['/stuff', stuff.id]"
    >
      <ion-thumbnail slot="start">
        <ion-img [src]="stuff.imgUrl"></ion-img>
      </ion-thumbnail>
      <ion-label> {{stuff.name}} </ion-label>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
