<ion-header>
  <ion-toolbar>
    <ion-title>Search Stuff</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [debounce]="0"
      (ionChange)="onSearch($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-skeleton-list *ngIf="isLoading"></app-skeleton-list>
  <app-no-record
    *ngIf="!isLoading && searchStuffs.length <= 0 && !!searchValue"
  ></app-no-record>
  <div class="search-helper" *ngIf="!isLoading && !searchValue">
    <app-search-svg></app-search-svg>
    <p>Enter your stuff name to search for it.</p>
  </div>
  <ion-virtual-scroll
    *ngIf="!isLoading && searchStuffs.length > 0 && !!searchValue"
    [items]="searchStuffs"
    [approxItemHeight]="'60px'"
  >
    <ion-item
      *virtualItem="let stuff"
      [routerLink]="['/stuff', stuff.id]"
      button
    >
      <ion-thumbnail slot="start">
        <ion-img [src]="stuff.imgUrl | safeUrl" appDefaultImage></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{stuff.name}}</h2>
        <p>{{stuff.category.name}}, {{stuff.location.name}}</p>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
