<ion-header appMode>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> {{stuff?.name}} </ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="edit">
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onDelete()">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <app-no-record *ngIf="!isLoading && !stuff"></app-no-record>
  <div *ngIf="!isLoading && stuff">
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-image-viewer
            [imageUrl]="stuff.imgUrl"
            [filepath]="stuff.filepath"
          ></app-image-viewer>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            <p>Category</p>
            <h2>{{stuff.category.name}}</h2>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <p>Location</p>
            <h2>{{stuff.location.name}}</h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            <p>Description</p>
            <h2>{{stuff.desc || "-"}}</h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            <p>Quantity</p>
            <h2>{{(stuff.quantity) || 0}}</h2>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <p>Price</p>
            <h2>{{((stuff.price || 0) | currency:currency)}}</h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            <p>Expiry Date</p>
            <h2>{{(stuff.expiryDate | date) || "-"}}</h2>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
