/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// add Poppins Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// custom mixins
@mixin glassy-effect {
  --background: rgba(244, 245, 246, 0.102);
  box-shadow: inset 22px -22px 22px rgba(179, 185, 194, 0.1),
    inset -22px 22px 22px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
}

body.dark {
  @mixin glassy-effect {
    --background: rgba(71, 71, 71, 0.102);
    box-shadow: inset 22px -22px 22px rgba(54, 54, 54, 0.1),
      inset -22px 22px 22px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
  }
}

html {
  --ion-font-family: "Poppins", "Roboto", "Helvetica Neue", sans-serif;
}

// body {
//   background: var(--body-bg);
// }

.ion-text-danger {
  color: var(--ion-color-danger) !important;
}

.error-field {
  padding-left: 16px;
  display: block;
  font-size: 14px;
  padding-top: 4px;
  color: var(--ion-color-danger);
}

ion-tab-bar {
  --border: none;
  box-shadow: var(--primary-outer-effect);
  padding: 16px;
  justify-content: space-evenly;

  ion-tab-button {
    --background: var(--button-bg);
    --color: var(--button-text);
    --ripple-color: transparent;
    --color-selected: var(--button-text-selected);
    width: 60px;
    height: 60px;
    box-shadow: var(--primary-outer-effect);
    flex: unset;
    border-radius: var(--border-radius-1);

    &::part(native):hover {
      color: inherit;
    }

    &.tab-selected,
    &.ion-activated {
      background: var(--button-bg-selected);
      box-shadow: var(--button-inner);
      color: var(--button-text-selected);
    }
  }
}

ion-fab-button.ion-color-primary {
  --ion-color-base: var(--primary-gradient) !important;
}

ion-segment {
  background: var(--primary-bg);
  box-shadow: var(--primary-outer-effect);
  border-radius: var(--border-radius-2);
  margin: 4px 20px;
  width: auto;
  padding: 2px;

  ion-segment-button {
    max-width: unset;
    --background: var(--button-bg);
    --color: var(--button-text);
    --background-checked: var(--button-bg-selected);
    --color-checked: var(--button-text-selected);
    letter-spacing: var(--button-letter-spacing);

    &.segment-button-checked {
      box-shadow: var(--button-inner);
    }

    &:first-child {
      border-radius: var(--border-radius-2) 0 0 var(--border-radius-2);
    }
    &:last-child {
      border-radius: 0 var(--border-radius-2) var(--border-radius-2) 0;
    }

    &::part(indicator) {
      display: none;
    }
  }
}

.header-md::after {
  display: none;
}

ion-item:not(.item-input):not(.item-datetime) {
  --padding-top: 4px;
  --padding-bottom: 4px;
  &.ion-activated {
    box-shadow: var(--primary-inner-effect);
  }
}

.center-svg {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & > *:first-child {
    width: 60%;
    max-width: 300px;
    color: var(--ion-color-primary);

    svg {
      width: 100%;
      height: auto;
    }
  }
}

ion-searchbar {
  --box-shadow: var(--primary-inner-effect) !important;
  --border-radius: var(--border-radius-1) !important;
}

ion-thumbnail {
  background: var(--ion-color-step-300);
  border-radius: var(--border-radius-1);
}

ion-item.item-input,
ion-item.item-datetime:not(.in-list) {
  border-radius: var(--border-radius-1);
  --background: var(--primary-bg);
  --border-color: transparent;

  &::part(native) {
    box-shadow: var(--primary-inner-effect);
  }

  ion-label {
    margin-top: 0;
    line-height: 1.3;

    &.label-floating {
      transform: translateY(23px);
    }
  }
  &.item-has-focus,
  &.item-has-value {
    ion-label {
      color: var(--secondary-text);
      transform: translate3d(0, 50%, 0) scale(0.82) !important;
    }
  }

  ion-input,
  ion-datetime {
    --padding-top: 4px !important;
    --padding-bottom: 8px !important;
  }
}

ion-button {
  letter-spacing: var(--button-letter-spacing);
  text-transform: uppercase;

  &.outer {
    --background-activated: transparent;
    --background-hover: transparent;
    --background-focused: transparent;
    --box-shadow: var(--primary-outer-effect);
    --background: var(--button-bg);
    --color: var(--button-text);

    &.ion-activated {
      --background: var(--button-bg-selected);
      --color: var(--button-text-selected);
      --box-shadow: var(--button-inner);
    }

    &:not([shape="round"]) {
      --border-radius: var(--border-radius-1);
    }
  }
}

.action-sheet-group {
  &:not(.action-sheet-group-cancel) {
    @include glassy-effect();
  }
  &.action-sheet-group-cancel {
    background: var(--primary-bg);
  }
}

ion-picker {
  .picker-wrapper {
    @include glassy-effect();
  }
  --border-width: 0 !important;
  .picker-below-highlight,
  .picker-above-highlight {
    background: transparent !important;
    border: none !important;
  }
  .picker-opt-selected {
    color: var(--ion-color-primary);
  }
}

ion-alert {
  .alert-wrapper.ion-overlay-wrapper {
    @include glassy-effect();
    border-radius: var(--border-radius-1);
  }
}

ion-modal {
  --background: var(--body-bg) !important;
}

ion-toggle {
  --handle-width: 15px;
  --handle-height: 15px;
  --handle-background: var(--primary-bg);
  --handle-background-checked: var(--primary-bg);
  --handle-box-shadow: var(--primary-outer-effect);
  --handle-spacing: 7px;
  --background: var(--primary-bg);

  &.toggle-checked {
    --handle-box-shadow: var(--shadow);
    --handle-width: 17px;
    --handle-height: 17px;
    &::part(track) {
      box-shadow: var(--button-inner);
    }
  }

  &::part(track) {
    box-shadow: var(--primary-inner-effect);
  }
}

ion-item-sliding {
  // margin: 8px 0px;
  // ion-item {
  //   // background: var(--primary-bg);
  //   // border-radius: var(--border-radius-1);
  //   // margin: 0px 16px;
  // }
  ion-item-option {
    border-radius: var(--border-radius-1);
    margin-right: 10px;
  }
}

.helper-button {
  height: 36px;
}

ion-note {
  font-size: 14px;
  --color: var(--secondary-text);
}

ion-list {
  padding-top: 8px;
  padding-bottom: 8px;
}

ion-action-sheet {
  --color: var(--ion-text-color) !important;
}

ion-label {
  &.sc-ion-label-ios-s > p {
    color: var(--secondary-text);
  }
}
